body, html {
  height: 100%;
}

body {
  background-image: linear-gradient(black, rgb(0, 0, 80), rgb(57, 0, 97), black);
  font-family: monospace;
  text-align: center;
}

h1 {
  color: rgb(173, 173, 233);
  margin: 25px;
}

#hidden {
  display: none;
  color: red;
  border: 3px dotted red;
}