body, html {
  height: 100%;
}

body {
  background-image: linear-gradient(black, rgb(0, 0, 80), rgb(57, 0, 97), black);
  font-family: monospace;
  text-align: center;
  color: rgb(160, 160, 160);
}

h1 {
  color: rgb(173, 173, 233);
  margin: 25px;
}

h3 {
  color: rgb(71, 71, 180);
  margin-left: 50px;
  margin-right: 50px;
}

.box {
  background-color: rgba(255, 255, 255, .2);
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
  text-align: center;
}

input {
  background-color: black;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  color: ivory;
  width: 25%;
  height: 40px;
  margin-bottom: 25px;
  font-size: 140%;
}

label {
  color: rgb(151, 151, 149);
}

button {
  border: 3px solid black;
  border-radius: 15px;
  background-image: radial-gradient(rgb(175, 175, 174), rgb(1, 19, 13));
  margin: 25px;
  font-size: 140%;
}

.result {
  display: none;
}

img {
  width: 100px;
}

img:hover {
  cursor: pointer;
}

a {
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-top: 80px;
}
